/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Global variable */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #bdfcc9;
    font-family: "Roboto", sans-serif;
    color: #000;
}

/*team members*/
.cards-container img {
    height: 130px;
    width: 130px;
    object-fit: cover;
    border: 5px solid rgba(77, 11, 84, 1);
    border-radius: 110px;
    margin: 0 10px;
    padding: 0;
    object-position: 50%;
}
.team-member h1{
    font-size: 3.8rem;
    line-height: 85px;
    margin: 25px 0 20px 0;
    text-align: center;

}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
.container {
    width: 150px;
    height: 250px;
    align-content: center;
    transition: transform .6s ease;
    font-weight: 600;
}
.member_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
}
.id {
    color: rgb(237, 232, 237);
    font-size: 0.9rem;
    text-align: center;
}
.name {
    color: rgb(237, 232, 237, 0.7);
    font-size: 0.8rem;
    text-align: center;
    opacity: 0.9;
}

.role {
    color: rgba(235, 100, 72, .7);
    opacity: 1;
    font-size: 0.9rem;
    text-align: center;
}

.text {
    margin: 15px 0 15px 0;
}

.container:hover {
    border-radius: 15px;
    transform: scale(1.07);
    box-shadow: 10px;
    background-color: #a8e6cf;
}

.container:hover img {
    border: 5px solid rgb(109, 18, 119);
}